body {
	font-family: sans-serif;
}

#header {
	width: 100%;
	height: 20px;
	padding: 2px;
	color:#666666;
	
}

#header li {
	list-style-type: none;
	display: inline-block;
	float: right;
	padding-right: 20px;
}

#aram{
	border-radius:50%;
	height: 32px;
	margin-top: -2px;
	width: 32px;
}


#bell{
	height: 25px;
	width: 25px;
}

.himage{
	padding-top:5px;
}
.middle {
	
	width: 500px;
	margin: 150px auto;
}

.middle img {
	position: relative;
	width: 300px;
	left: 100px;
}
.middle input {
	width: 500px;
	position: absolute;
	margin-top: -10px;
	height: 30px;
	border: 1px solid gray;
}
input {
	font-family: sans-serif;
	font-size: 19px;
}

input[name="search"]:hover {
	border: 1px solid blue;
}

/*
input[name="gsearch"]:hover {
	font-weight: bold;
}
input[name="lucky"]:hover {
	font-weight: bold;
}

input[name="gsearch"]{
	width: 140px;
	height: 40px;
}
.buttons {
	width: 320px;
	height: 50px;
	background-color: none;
	margin: auto;
	margin-top: -100px;
}

.buttons p {
	font-weight: bold;
	text-align: center;
	padding: 10px 5px 10px 5px;
	background-color: #e6e6e6;
	color: #737373;
}

.button1 {
	width: 140px;
	height: 40px;
	
	border-radius: 1px;
	display: inline-block;

}
.button2 {
	width: 170px;
	height: 40px;
	
	border-radius: 1px;
	display: inline-block;
	
	float: right;
}

.buttons p:hover {
	color: black;
}
*/

#search-buttons {
	width: 270px;
	margin: 0 auto 0 auto;
	margin-top: -70px;
	padding-top: -10px;
	font-size: 13px;
	font-weight: bold;
	color:#8e8989;
}

#search-button {
	font-family: arial;
	background-color: #f1f1f1;
	border: 1px solid #f1f1f1;
	border-radius: 2px;
	float: left;
	display: inline-block;
	padding: 8px 10px;
}

#search-button:hover{
	color:black;
}


#lucky-button {
	background-color: #f1f1f1;
	border: 1px solid #f1f1f1;
	border-radius: 2px;
	float: right;
	display: inline-block;
	padding: 8px 10px;
	
}

#lucky-button:hover{
	color:black;
}


#footer {
	width: 100%;
	height: 45px;
	padding: 2px;
	color:#666666;
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: #f2f2f2;
	border: solid 1px #dcdcdc;
	
}
#footer li {
	list-style-type: none;
	display: inline-block;
	margin-top: 0;
	margin-right: 26px;
	padding: 0;
}
#right {
	float: right;

	bottom: 0;
}

#left {
	float: left;
	
	bottom: 0;
}

